.button {
	color: #fff;
	background-color: #96d019;
    border-color: #96d019;
	border-radius: 31px;
	border-style: solid;
	border-width: 4px;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	transition: all 0.25s ease-in;
	border-width: 4px;
	padding: 1em 2em;
	text-decoration: none;
	outline: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	cursor: pointer;
	font-size: 14px;
  
  &:hover {
  	background-color: #75a214;
    border-color: #6f9912;
  }

  &:disabled {
  	&:hover {
  	  background-color: #96d019;
      border-color: #96d019; 
    }
  	cursor: default;
  }
}
