.testimonial-carousel {
  text-align: center;
  font-size: 1.875rem;
  line-height: 30px;
  margin-top: 6vh;
  color: #6DBCDB;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}