$break-small: 480px;
$break-medium: 550px;
$break-large: 1140px;

@mixin small {
  @media screen and (max-width: $break-small) {
    @content;
  }
}

@mixin medium {
  @media screen and (max-width: $break-medium) {
    @content;
  }
}

@mixin large {
  @media screen and (max-width: $break-large) {
    @content;
  }
}
