.container {
  width: 70%;
  margin: 0 auto;
  // display: flex;
  // flex-wrap: wrap;

  @media screen and (max-width: $break-small) {
    width: 90%;
  }

}

h1 {
  font-size: 4vh;

  @media screen and (max-width: $break-small) {
    font-size: 28px;
  }
}

h2 {
  font-size: 3.5vh;

  @media screen and (max-width: $break-small) {
    font-size: 24px;
  }
}

h3 {
  font-size: 3vh;

  @media screen and (max-width: $break-small) {
    font-size: 20px;
  }
}

p {
  font-size: 3vmin;

  @media screen and (max-width: $break-small) {
    font-size: 16px;
  }

}

.page-title {
  margin-bottom: 2vh;

  // @include small {
  // 	margin-left: 20px;
  // }
}

.center-text {
  text-align: center;
}

a {
  text-decoration: none;
}
